<div class="main-contents2">
  <% @texts.each do |text| %>
  <div class="my-parts">
    <%= link_to "詳細","/texts/#{text.id}" %>
    <div class="my-parts-body">
      <h1 class="my-parts-title"><p><%= text.title %></p></h1>
      <p><%= text.text %></p>
      <time><%= text.updated_at %></time>
    </div>
   </div> 
  <% end %>
</div>