<div class="main-contents2">
  <div class="contents row">
  <div class="container">
    <%= form_tag("/texts/create") do %>
      <h4>タイトル</h4>
      <textarea name="title" class="form__title"></textarea>
      <h4>要約まとめ</h4>
      <textarea name="text" class="form__text"></textarea>
      <input type="submit" value="SEND">
    <% end %>
  </div>
</div>
</div>
