
<div class="main-contents2">
  <h2>詳細</h2>
  <div class="show__title">
    <%= @text.title %>
  </div>
  <div class="show__text">
    <%= @text.text %>
  </div>
  <div class="btn">
    <div class="edit-btn">
      <%= link_to("編集","/texts/#{@text.id}/edit")%>
    </div>
    <div class="delete-btn">
      <%= link_to("削除","/texts/#{@text.id}/destroy",{method: "post"})%>
    </div>
  </div>
</div>